@use './variables';

// Reset CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: variables.$principal-font;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: variables.$background;
  color: variables.$high-emphasis;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}