@use './variables';

// Reset CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: variables.$principal-font;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: variables.$background;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}